.menu_link{
	font-family: Verdana,Arial,sans-serif;
	font-size:12px;
	color:#FFFFFF;
	display:inline;
	font-weight:bold;
	text-decoration: none;
	padding: 5px;
}
.link{
	font-family: Verdana,Arial,sans-serif;
	font-size:12px;
	color:#0000FF;
	display:inline;
	text-decoration: none;
}