.body{
	color: #000000;
	text-decoration: none;
	font-family: Verdana,Arial,sans-serif;
	font-size:12px;
	background-color: #f0eee0;
}
.body_header{
	color: #FFFFFF;
	text-decoration: none;
	font-family: Verdana,Arial,sans-serif;
	font-size:16px;
	font-weight:bold;
	background-color: #2d4154;
	padding:5px;
	border-bottom: #000000 1px solid;
}
.body_menu{
	color: #FFFFFF;
	text-decoration: none;
	font-family: Verdana,Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	background-color: #517bab;
	padding:5px;
	border-bottom: #000000 1px solid;
}
.body_tree{
	color: #000000;
	text-decoration: none;
	font-family: Verdana,Arial,sans-serif;
	font-size:12px;
	background-color: #ffffff;
	padding:5px;
	border-right: #000000 1px solid;
	border-bottom: #000000 1px solid;
}
.body_main{
	color: #000000;
	text-decoration: none;
	font-family: Verdana,Arial,sans-serif;
	font-size:12px;
	background-color: #ffffff;
	padding:5px;
	border-bottom: #000000 1px solid;
}
.content{
	color: #000000;
	text-decoration: none;
	font-family: Verdana,Arial,sans-serif;
	font-size:12px;
	background-color: #ffffff;
	padding:5px;
}
.content_bigger{
	color: #000000;
	text-decoration: none;
	font-family: Verdana,Arial,sans-serif;
	font-size:16px;
	background-color: #ffffff;
	padding:5px;
}
.body_footer{
	color: #FFFFFF;
	text-decoration: none;
	font-family: Verdana,Arial,sans-serif;
	font-size:10px;
	background-color: #517bab;
	padding:5px;
}
.error_header{
	color: #CC0000;
	text-decoration: none;
	font-family: Verdana,Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
}
.info_message {
	width: 500px;
	margin: 0px;
	padding: 5px 5px 5px 45px;
	border: 2px solid #0600FF;
	color: #000000;
	background: #EDFEFF url("../images/style/info32x32.png") no-repeat 5px 5px;
	font-family: Verdana,Arial,sans-serif;
	font-size:12px;
}
.error_message {
	width: 500px;
	margin: 0px;
	padding: 5px 5px 5px 45px;
	border: 2px solid #DD0000;
	color: #000000;
	background: #FFFFBB url("../images/style/error32x32.png") no-repeat 5px 5px;
	font-family: Verdana,Arial,sans-serif;
	font-size:12px;
}