.table{
	width: 100%;
	margin: 0px;
	padding: 0px;
	font: 12px "Verdana";
	border: #000000 1px solid;
	max-width:1000px !important;
	min-width:1000px !important;
	margin-left:auto;
	margin-right:auto;
}