.table{
	width: 100%;
	margin: 0px;
	padding: 0px;
	font: 12px "Verdana";
	border: #000000 1px solid;

}
.spacerlu{
	border-bottom: #000000 1px solid;
	border-right: #000000 1px solid;
	padding: 5px;
}
.spacerru{
	border-bottom: #000000 1px solid;
	padding: 5px;
}
.spacerld{
	border-right: #000000 1px solid;
	padding: 5px;
}
.spacerrd{
	padding: 5px;
}
